<!-- <p>
  navigationbar works!
</p> -->


<nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Angular2 <span style="color:rgb(240, 136, 4)">framework</span></a>
    </div>

     <div class="collapse navbar-collapse" id="navbar">
       <ul class="nav navbar-nav navbar-right" style="background-color:#232f3e">
         <li><a  [routerLink]="['/home']"  class="button btn glyphicon glyphicon-home navicon" ><span class="navicon">Home</span></a></li>

         <li><a  [routerLink]="['/cart']"  class="button btn glyphicon glyphicon-shopping-cart navicon" ><span class="navicon">Cart</span><span style="margin-left:1px;">({{count}})</span>
            </a></li>

         <li><a (click)="logout()" class="button btn glyphicon glyphicon-log-out" ><span class="navicon" >Logout</span></a></li>
       </ul>

     </div>

  </div>
</nav>
