<!-- <p>
  navigationbar works!
</p> -->
<!--
 <div  layout="column" style="height:500px;" class="sidenavdemoBasicUsage">
    <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools" style="background: #FF9800;">
            <button  class="menuBtn" aria-label="Toggle Menu" hide-md></button>
            <button  class="menuBtn" aria-label="Toggle Menu" hide-gt-md=""></button>
            <h1 layout-align-gt-sm="center">
                Angular2
            </h1>
        </div>
    </md-toolbar>
  </div> -->
    <!-- <section layout="row" flex="">

        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="lockLeft && $mdMedia('gt-md')">

        </md-sidenav>

        <md-content flex="" layout-padding="">


        </md-content>
    </section> -->

 <!-- </div> -->


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular2 framework</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#logout">Logout</a></li>
    </ul>

  </div>
</nav>
