<div id="loginid" class="col-md-6 col-md-offset-3" style="margin-top:60px;box-shadow: 0px 1px 2px 2px grey; background-color: #eee">
  <h2>Login</h2>

  <form [formGroup]="loginForm" name="form" (ngSubmit)="onSubmit()">
    <div style="margin-top:10px" class="form-group">
      <label for="email">Email Id</label>
      <input type="email" class="form-control" #emailRef formControlName="email" placeholder="Email" required />
      <div *ngIf="loginForm.controls['email'].hasError('required')" class="alert alert-danger">
        emailid is required
      </div>
    </div>

    <div style="margin-top:10px">
      <label for="password">Password</label>
      <input type="password" class="form-control" #passwordRef formControlName="password" placeholder="Password" required />
      <div *ngIf="loginForm.controls['password'].hasError('required')" class="alert alert-danger">password is required</div>
    </div>

    <div class="form-group" style="margin-top:10px">
      <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>

      <a [routerLink]="['/signup']" class="btn btn-link">Register?</a>
    </div>
  </form>
</div>




<!-- <input type="email" class="form-control" #emailRef="ngModel"  placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="data.email"  required  />
<div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched )" class="alert alert-danger">
  <div [hidden] = "!emailRef.errors.required">
      Please enter a mail-id
  </div>
  <div [hidden] = "!emailRef.errors.pattern">
      Please enter valid mail-id
  </div>
</div> -->
<!-- <div *ngIf="loginForm.controls['password'].hasError('minlength')" class="alert alert-danger">Please enter atleast 4 digit</div> -->


<!-- <input type="password" class="form-control" name="password" #passwordRef="ngModel" minlength="4" placeholder="Password" [(ngModel)]="data.password" required />

  <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched )" class="alert alert-danger">
    <div [hidden] = "!passwordRef.errors.required">
        Please enter a password
    </div>
    <div [hidden] = "!passwordRef.errors.minlegth">
        Please enter atleast 4 characters
    </div>
  </div> -->
