.sidebarcss{
  padding : 10px;
  margin : 1px;
  height : 90%;
  width : 191px;
  position: fixed;
  box-shadow : 1px 0px 2px 1px grey;
}


@media (max-width:500px){
  .sidebarcss{
    width:115px;
  }
}
