.sidebarcss{
  padding : 10px;
  margin : 1px;
  height : 90%;
  width : 191px;
  position: fixed;
  box-shadow : 1px 0px 2px 1px grey;
}


.clearAllid:hover {
  border:1px solid rgb(240, 136, 4);
  color: rgb(240, 136, 4);
}

@media (max-width:500px){
  .sidebarcss{
    width:115px;
  }
}
