<!-- <p>
  sidebar works!
</p> -->

<div class="sidebar col-sm-3 col-xs-3 " style="margin-top:35px;">
  <div class="sidebar-menu sidebarcss">

    <div *ngFor="let onefeature of feature" style="margin-top:35px;">
      <h4>{{onefeature.head}}</h4>
      <div *ngFor="let fea of onefeature.name" style="margin-top:5px;">
       <input type="checkbox" (change)="changeValue(onefeature.head,fea)" name="onefeature.name" value="content"/>   {{fea}}

     </div>
    </div>
      <br>
      <button class="btn btn-block btn-primary" type="reset" (click)="clearAll()">Clear All</button>
  </div>
</div>
