<app-navigationbar></app-navigationbar>
<div class="row" style="margin-top:35px;">
    <div class="sidebar col-sm-1 col-xs-1 col-lg-1 col-md-1">
      <!-- <app-sidebar ></app-sidebar> -->
    </div>


  <div class="col-xs-10 col-sm-10 col-md-6 col-lg-4" >
      <div id="mobcss">
        <img src="{{mobiledata.image.large}}" style="height:400px;width:440px" />
      </div>

      <div data-reactid="96">
        <ul class="row" style="width:100%;display:flex;flex-flow: row wrap;flex:1" data-reactid="97">
          <li class="col col-6-12" style="display: inline-block;vertical-align: top;margin-left:-26px">
            <button class="addToCart" data-reactid="99">
          <svg class="_3oJBMI" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" data-reactid="100">
            <path class="" d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86" fill="#fff" data-reactid="101">
            </path>
          </svg>
            ADD TO CART
          </button>
          </li>
          <li  style="width:2%;display: inline-block;vertical-align: top;" ></li>
          <li class="col col-6-12" style="display: inline-block;vertical-align: top;">
            <button class="buyNow" data-reactid="99">
            <svg  width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" data-reactid="100">
              <path class="" d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86" fill="#fff" data-reactid="101">
              </path>
            </svg>
              BUY NOW
            </button>
          </li>
        </ul>
      </div>
  </div>



  <div class=" col-sm-6 col-xs-8 col-lg-6 col-md-6 mid" style="margin:10px;">
    <div class="mobName"  ><h2>{{mobiledata.name }}</h2><hr></div>

    <div class="rating" >
      <span style="color:#fb641b;font-weight:bold;">Rating : </span>
        <span id="ratingid" style="">
            <span style="margin-left:4px;margin-right:1px;font-weight:600;padding-top:3px;color:white;font-weight:bold;">{{mobiledata.rating }}</span>
            <img height="18px" width="18px" style="padding-bottom:2px;" src="http://gomobile.herokuapp.com/assets/star_PNG1597.png"/>
        </span>
    </div>

      <div class="price">
        <span style="color:#999;font-size:18px;padding-top:10px">Price : </span>
        <span style="color:#B12704!important;font-weight:bold;font-size:18px;margin-left:3px;padding-top:6px">
            <span style="margin-right:2px;padding-top:3px;">₹</span>
            <span style="font-size:24px;">{{mobiledata.price }}</span>
          </span>
      </div>

      <div style="height:192px;margin-top:10px">

        <div   style="font-size:22px;font-family: MyriadPro-Light;color:#525252;">Specifications<hr>
          <!-- <div class=" col-sm-8 col-xs-8 col-md-8 col-lg-8 " style="margin-top:5px;color:#777;"> -->
            <div class="row">
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" style="margin-top:5px;display:inline;">
                <div id="manuId1" style="">Manufacturer</div>
                <div id="other1" >OS</div>
                <div id="other1" >Camera</div>
                <div id="other1" >Storage</div>
            </div>

              <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" style="margin-top:5px;color:#777;">
                <div id="manuId2" style="">{{mobiledata.specs.manufacturer}}</div>
                <div id="other2">{{mobiledata.specs.os}}</div>
                <div id="other2">{{mobiledata.specs.camera}}</div>
                <div id="other2">{{mobiledata.specs.storage}}</div>
            </div>
          </div>
        <!-- </div> -->

      </div>


    </div>
    <div   style="font-size:22px;font-family: MyriadPro-Light;color:#525252;">Description<hr>
        <p style="font-size:18px;margin-top:10px;color:#777;">{{mobiledata.description}}</p>
    </div>


  </div>
    <div class="sidebar col-sm-1 col-xs-1 col-lg-1 col-md-1">
      <!-- <app-sidebar ></app-sidebar> -->
    </div>

</div>
