

.middle[_ngcontent-c1] {
      margin-left: 50px;
}
.container {
    position: relative;
    width: 50%;
}
/*
.img{
  width:440px;
}*/

.image {
  padding: 10px;
  opacity: 1;
  display: block;
  width: 230px;
  height:300px;
  /*height: auto;*/
  margin-top:20px;
  transition: .5s ease;
  z-index: 0;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  /*opacity: 0.3;*/
  filter: blur(12px);
	background-color: rgb(255, 255, 255);
}

.container:hover .middle {
  opacity: 1;
}

.text {
  /*width:120px;*/
  background-color: #eee;
  /*opacity: 2;*/
  color: grey;
  font-size: 14px;
  padding:16px 40px 8px 30px;
  font-family: MyriadPro-Light;
  /*padding: 16px 0px 5px 20px;*/
}




.a-text-center .a-box{
    margin-left: auto;
    margin-right: auto;
}

.a-box{
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
  display:block;
  width:240px;
  height:35px;
}

.a-box:hover {
  border:1px solid grey;
}

.a-padding-mini{
  padding : 4px 6px!important;
}

.a-color-secondary{
  margin-left:55px;
  color:#0066c0;
  font-size:15px ;
  word-spacing:1px;
  word-wrap: break-word;;
}

.a-color-secondary:hover {
  color:#c45500;
}

/*.container:hover > .image {
  filter: blur(15px);
  -webkit-filter: blur(15px);
}*/
/*.image:hover > .contentShow {
  visibility: visible;
}*/
