<app-navigationbar></app-navigationbar>
<div class="row" style="margin-top:35px;">
  <div class="sidebar col-sm-2 col-xs-2 col-lg-2 col-md-2">
    <app-sidebar (clicked)="onClicked($event)"></app-sidebar>
  </div>

  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" >

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let data of data | pipes : keyValue  ">

      <div class="container">

        <img src="{{data.image.small}}" class="image"/>
        <!-- <span style="float:right">Buy</span> -->
        <div class="a-box">
          <div class="a-box-inner a-padding-mini" >
            <a  (click)="productDetails(data)" [routerLink]="['/mobiledetails']">
              <span class="a-color-secondary" style="color:#232f3e"  >{{data.name }}</span>
            </a>
            <!-- <span style="float:right">Buy</span> -->
          </div>
        </div>
        <!-- <div style="margin-left:30px;">{{data.name }}</div> -->
        <div class="middle">
          <div class="text" style="color:#555;">
            <div class="row">
            <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" style="margin-top:5px;display:inline;">
                <div style="padding:3px 5px 5px 0px;font-size:14px;font-family: MyriadPro-Light;color:#777;">Price</div>
                <div style="padding:3px 5px 5px 0px;font-size:14px;font-family: MyriadPro-Light;color:#777;">Rating</div>
            </div>

              <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" style="margin-top:5px;color:#777;">
                <div style="padding:3px 5px 5px 5px;font-size:14px;font-family: MyriadPro-Light;color:#777;">₹{{data.price}}</div>
                <div style="padding:3px 5px 5px 10px;font-size:14px;font-family: MyriadPro-Light;color:#777;"> {{data.rating}}</div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>

    <div class="sidebar col-sm-2 col-xs-2 col-lg-2 col-md-2"> </div>
  </div>


<!--
  <div class="mobName"  *ngFor="let p of cartArray"><h2>{{p.name}}</h2><hr></div>
  <div>Sum</div> -->
